html {
  --board-columns: 4;
  --board-rows: 5;
}

.risingsunpuzzle-board {
  width: 243px;
  height: 303px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: blue;
  border: 1px solid blue;

  display: grid;
  grid-template-rows: repeat(var(--board-rows), calc(300px / var(--board-rows)));
  grid-template-columns: repeat(var(--board-columns), calc(239px / var(--board-columns)));
  grid-gap: 1px 1px;
}

.risingsunpuzzle-piece {
  margin: 5px;
  position: relative;
}

.risingsunpuzzle-piece.risingsunpuzzle-piece-sun {
  background-color: red;
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.risingsunpuzzle-piece.risingsunpuzzle-piece-cloud {
  background-color: white;
  grid-column-end: span 2;
}

.risingsunpuzzle-piece.risingsunpuzzle-piece-night {
  background-color: black;
  grid-row-end: span 2;
}

.risingsunpuzzle-piece.risingsunpuzzle-piece-star {
  background-color: gold;
}

.risingsunpuzzle-arrow {
  background-color: white;
  height: 32px;
  width: 32px;
  position: absolute;
}

.risingsunpuzzle-arrow:hover {
  background-color: teal;
}

.risingsunpuzzle-arrowUp {
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
}

.risingsunpuzzle-arrowRight {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.risingsunpuzzle-arrowDown {
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}

.risingsunpuzzle-arrowLeft {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
